$gray: #9eb2c0;
$coral: #f97e76;

@import "pages/_fonts";
@import "pages/_mixins";
@import "pages/_result";
@import "pages/_settings";
@import "pages/_footer";
@import "pages/_upload";
@import "pages/_download";
@import "pages/_languages";
@import "pages/_socials";


html {
  position: relative;
  min-height: 100%;
}

body {
  background: url("../img/bg-wrap.jpg") no-repeat 0 0;
  background-size: cover;
  margin: 0;
}

.main__wrapper {
  position: relative;
  height: 100%;
  min-width: 980px;
}

.wrapper {
  padding-bottom: 60px;
  overflow: auto;
  margin: 60px 0 17px 0;
}

.container {
  width: 960px;
  margin: auto;
}
