@import "pages/_mixins";
//@import "pages/fonts";
@import "pages/result";
@import "pages/_settings";
@import "pages/_footer";


body {
  background: url("../img/bg-wrap.jpg") no-repeat 0 0;
  background-size: cover;
  margin: 0;
}

.main__wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  overflow: hidden;
  min-width: 980px;
}

.wrapper {
  padding-bottom: 76px;
  overflow: auto;
  margin: 60px auto 0;
}

.container {
  width: 960px;
  margin: auto;
}