.download-popup
            ul.download-popup__loading-list
                li.download-popup__loading-item
                li.download-popup__loading-item
                li.download-popup__loading-item
                li.download-popup__loading-item
                li.download-popup__loading-item
                li.download-popup__loading-item
                li.download-popup__loading-item
                li.download-popup__loading-item
                li.download-popup__loading-item
                li.download-popup__loading-item

