.languages
    .languages__list
        li.languages__item
            a(href="#").languages__link.languages__rus РУС
        li.languages__item
            a(href="#").languages__link.languages__eng ENG

