.result
  h1.result__description#header-title(data-translate="header") Генератор водяных знаков
  .result__block
    .imgs-wrap
      img(alt="Ваша картинка" src="img/maine-coon-cat-04.jpg")#main-img.img_big
      .container_small-img
        .watermark
            img(alt="Водяной знак" src="img/en_cationsanions.jpg")#watermark.img_small

