.result
  h1.result__description#header-title(data-translate="header") Генератор водяных знаков
  .result__block
    .imgs-wrap
      img(alt="Ваша картинка" src="#")#main-img.img_big
      .container_small-img.clearfix#wm-wrap
        img(alt="Водяной знак" src="#")#watermark.img_small

