.server__error
    .server__error-main.clearfix
        .server__error-block
            img(src="../img/image.png").server__error-img
        .server__error-text Oops! Server don’t respond… Sorry, I ATE it!!!
        .server__error-close X
