.server__error#server-error
    .server__error-main.clearfix#error-block
        .server__error-block
            img(src="../img/image.png").server__error-img
        .server__error-text(data-translate="error__modal") Кажется, сcервер не отвечает... простите, но я его съела !!!
        a(href="#").server__error-close#close-error X

