.settings
  h2.settings__description Настройки
  form(method="POST").settings__form
    .download
      .download__img
        .input-wrap
          span.download__span Исходное изображение
          label.download__label
            span.file-name
            input(type="file" id="main-img-input" name="files[]" accept="image/*,image/jpeg").download__input
        .input-wrap#watermark-wrap
          span.download__span Водяной знак
          label.download__label
            span.file-name
            input(type="file" id="watermark-input" name="files[]" accept="image/*,image/jpeg" disabled).download__input
          .disabled
    .position
      .position__block
        span.position__description Положение
        .position__button
          a(href="#").position__first
          a(href="#").position__second
        .position__watermark-one.clearfix
          .watermark-wrap
            .watermark-table
              .watermark-row
                .watermark-col
                  a(href="#" data-pos="left top").watermark-link
                .watermark-col
                  a(href="#" data-pos="center top").watermark-link
                .watermark-col
                  a(href="#" data-pos="right top").watermark-link
              .watermark-row
                .watermark-col
                  a(href="#" data-pos="left center").watermark-link
                .watermark-col
                  a(href="#" data-pos="center center").watermark-link
                .watermark-col
                  a(href="#" data-pos="right center").watermark-link
              .watermark-row
                .watermark-col
                  a(href="#" data-pos="left bottom").watermark-link
                .watermark-col
                  a(href="#" data-pos="center bottom").watermark-link
                .watermark-col
                  a(href="#" data-pos="right bottom").watermark-link
          .watermark-property
            .position__gorizontal
              span.position__span X
              input(type="text" name="text" value="0").position__input.input_x
              .position__coordinates 
                a(href="").position__top.top_x
                a(href="").position__bottom.bottom_x
            .position__vertical
              span.position__span Y
              input(type="text" name="text" value="0").position__input.input_y
              .position__coordinates
                a(href="").position__top.top_y
                a(href="").position__bottom.bottom_y
        .position__watermark-second.hide.clearfix
          .watermark-wrap
            .line-horizontal
            .line-vertical
            .watermark-table
              .watermark-row
                .watermark-col
                  a(href="#").watermark-link
                .watermark-col
                  a(href="#").watermark-link
                .watermark-col
                  a(href="#").watermark-link
              .watermark-row
                .watermark-col
                  a(href="#").watermark-link
                .watermark-col
                  a(href="#").watermark-link
                .watermark-col
                  a(href="#").watermark-link
              .watermark-row
                .watermark-col
                  a(href="#").watermark-link
                .watermark-col
                  a(href="#").watermark-link
                .watermark-col
                  a(href="#").watermark-link
          .watermark-property
            .position__gorizontal
              span.position__name-plus X
              input(type="text" name="text" value="0").position__input
              .position__coordinates
                a(href="").position__top
                a(href="").position__bottom
            .position__vertical
              span.position__name-minus Y
              input(type="text" name="text" value="0").position__input
              .position__coordinates
                a(href="").position__top
                a(href="").position__bottom
    //   .disabled
        //===========================================
        // убрано на время тестированя
        //=============================================
    .transparency
      .transparency__block
        span.download__span.download__span--transparency Прозрачность
        .transparency__default
          #slider.transparency__slider
          #trans-progress.transparency__slider-other
      .disabled
    .settings__button.clearfix
      button(type="reset").button.button-reset Сброс
      button(type="submit").button.button-submit Скачать
      .disabled









