.socials.clearfix
    .socials__icons--like like
    ul.socials_list
       li.socials__item
            a( onclick="Share.facebook('URL','TITLE','IMG_PATH','DESC')").socials__icons.socials__icons--fb fb
       li.socials__item
            a( onclick="Share.twitter('URL','TITLE')").socials__icons.socials__icons--tw tw
       li.socials__item
            a( onclick="Share.vkontakte('URL','TITLE','IMG_PATH','DESC')").socials__icons.socials__icons--vk vk
