.socials.clearfix
    .socials__icons--like like
    ul.socials_list
       li.socials__item
            a(data-type="fb").socials__icons.socials__icons--fb.social_share fb
       li.socials__item
            a(data-type="tw").socials__icons.socials__icons--tw.social_share tw
       li.socials__item
            a(data-type="vk").socials__icons.socials__icons--vk.social_share vk
